/*~
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/bashdb
/bashdb-4.*tar.gz
/bashdb-4.*tar.bz2
/bashdb-main.inc
/bashdb-trace
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/dbg-main.sh
/depcomp
/elisp-comp
/install-sh
/libtool
/missing
/stamp-h1
