*~
/.python-version
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/auto*.log
/autom4te.cache
/bashdb
/bashdb-5.*.tar.bz2
/bashdb-5.*.tar.gz
/bashdb-main.inc
/bashdb-trace
/builtin
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/dist
/dist/bashdb-4.*tar.bz2
/dist/bashdb-4.*tar.gz
/dist/bashdb-4.*tar.gz
/dist/bashdb-4.1-*
/elisp-comp
/install-sh
/libtool
/libtool.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/mdate-sh
/missing
/stamp-h1
/test-driver
/tmp
