/*~
/Makefile
/Makefile.in
/bashdb-man.html
/bashdb.1
/bashdb.aux
/bashdb.cp
/bashdb.cps
/bashdb.dvi
/bashdb.fn
/bashdb.html
/bashdb.info
/bashdb.ky
/bashdb.kys
/bashdb.log
/bashdb.pdf
/bashdb.pg
/bashdb.toc
/bashdb.tp
/bashdb.vr
/macros.texi
/mdate-sh
/pod2htmd.tmp
/pod2htmi.tmp
/stamp-vti
/texinfo.tex
/version.texi
